.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login > img {
    width: 100%;
}

.login > a {
    padding: 20px;
    background-color: #1db945;
    border-radius: 99px;
    font-weight: 800;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif, Times, serif, Tahoma, Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
}